*{
	margin: 0;
	padding: 0;
}
div .wrap-menu-header {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    z-index: 100;
    border-top: 5px solid #ec1d25;}
	
element.style {
    background-image: url(images/bg-title-page-03.jpg);
}

.bg-title-page {
    width: 100%;
    min-height: 545px;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;}
	.flex-c-m{
		display: flex;
		justify-content: center;
		align-items: center;
}
.p-b-80 {
    padding-bottom: 80px;
}
.p-t-160 {
    padding-top: 160px;
}
.tit6 {
    font-weight: 700;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}
.t-center {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.bg2-pattern {
    background-image: url(../images/icons/pattern2.png);
    background-repeat: repeat;
}

.t-center {
    text-align: center;
}
.p-r-15 {
    padding-right: 15px;
}
.p-l-15 {
    padding-left: 15px;
}
.p-b-110 {
    padding-bottom: 110px;
}
.p-t-116 {
    padding-top: 116px;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
user agent stylesheet
section {
    display: block;
}
element.style {
    background-image: url(images/header-menu-01.jpg);
    background-position: center 344px;
}
.section-video {
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1-pattern {
    background-image: url(../images/icons/pattern1.png);
    background-repeat: repeat;
}
.p-b-105 {
    padding-bottom: 105px;
}
.p-t-120 {
    padding-top: 120px;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
user agent stylesheet
section {
    display: block;
}
element.style {
    background-image: url(images/bg-cover-video-02.jpg);
    background-position: center 995.667px;
}
.parallax0 {
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
.bgwhite {
    background-color: white;
}

.p-b-95 {
    padding-bottom: 95px;
}
.p-t-115 {
    padding-top: 115px;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
user agent stylesheet
section {
    display: block;
}
.bg1-pattern {
    background-image: url(../images/icons/pattern1.png);
    background-repeat: repeat;
}

.p-b-85 {
    padding-bottom: 85px;
}
.p-t-85 {
    padding-top: 85px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}